.container{
  font-weight: bold;
  margin-bottom: -3%;
}
.card{
  font-size: 2rem;
  background-color: #043447;
  color: #fff;
}
.projects a{
  text-decoration: none;
  cursor: pointer;
  color:  #32a0c8;
}
.footer{
  text-align: center;
  justify-content: center;
  margin-top: 2%;
  font-size: 12px;
  color:#b4b0b0 ;
}
.btn{
  font-weight: 500;
}